<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="application-name" content="ByteMe">
    <meta name="description" content="ByteMe is a rating app for people who want to share their content.">
    <meta name="keywords" content="poll, rate, rating, rating app, rating application, ByteMe, byteme, Byteme">
    <meta property="accessModeSufficient" content="textual">
    <meta property="dateModified" content="2018-10-01">
    <meta property="educationalUSe" content="textual">
    <meta property="interactivityType" content="active">
    <meta property="isAccessibleForFree" datatype="xsd:boolean" content="true">
    <meta property="isFamilyFriendly" datatype="xsd:boolean" content="true">

    <!--<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">-->
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>-->
    <script src="/scripts/libraryLoad.js"></script>
</head>
</html>