<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Navbar</title>
</head>
<body>
<nav class="navbar navbar-default" th:fragment="header">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#ByteMe"
                aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" id="home" th:href="@{/}">ByteMe</a>
    </div>
    <div class="collapse navbar-collapse" id="ByteMe">
        <ul class="nav navbar-nav">
            <li><a class="button" th:href="@{/about}">About</a></li>
            <li><a class="button" th:href="@{/tutorial}">Tutorial</a></li>
            <li><a class="button" th:href="@{/sitemap}">Site map</a></li>
        </ul>
        <ul th:if="${!loggedIn}" class="nav navbar-nav navbar-right">
            <li><a class="button" th:href="@{/register}">Sign up</a></li>
            <li><a class="button" th:href="@{/login}">Log in</a></li>
        </ul>
        <ul th:if="${loggedIn}" class="nav navbar-nav navbar-right">
            <form th:action="@{/logout}" th:method="post">
                <input id="logout" type="submit" value="Log Out" class="button">
            </form>
        </ul>
    </div>
</nav>
</body>
</html>