@font-face {
    font-family: Amaranth;
    src: url(../fonts/Amaranth-Italic.woff) format("woff"),
    url(../fonts/Amaranth-Italic.ttf) format("truetype");
}

@font-face {
    font-family: Amaranth-Bold;
    src: url(../fonts/Amaranth-BoldItalic.woff) format("woff"),
    url(../fonts/Amaranth-BoldItalic.ttf) format("truetype");
}

.navbar {
    background-color: #1b4977;
    border: none;
}

.navbar-default .navbar-nav .button {
    color: white;
    font-family: Amaranth;
    font-weight: 400;
}

.navbar-default .navbar-nav .button:hover {
    color: #8d9ab2;
}
#home {
    color: white;
    font-family: Amaranth;
    font-weight: 400;
}

body {
    background: url(../images/main.jpg) no-repeat center center fixed;
    background-size: cover;
}

h1 {
    text-align: left;
    margin-top: 1em;
    margin-left: 1em;
    font-family: Amaranth-Bold;
    font-weight: 700;
    font-size: 3em;
    color: white;
}

p {
    margin-top: 1em;
    margin-left: 1em;
    font-family: Amaranth;
    font-weight: 400;
    font-size: 1.5em;
    text-align: left;
    color: white;
}

.room {
    font-family: Amaranth;
    font-weight: 400;
    font-size: 1.5vw;
    color: white;
    background-color: #153759;
    border: none;
    padding: 0.4vw 0.7vw;
    border-radius: 0.4vw;
    width: 20vw;
    height: 3vw;
}

.room:hover {
    background-color: #05398c;
    color: white;
    text-decoration: none !important;
}

.buttons {
    text-align: center;
    color: white;
    margin-top: 3vw;
}
#mapid {
    height: 10em;
	width: 10em; 
	margin-right: 8em;
	margin-left: 1em;
}
#contact {
	margin-right: 5em;
}