@import "universal.css";

.roomuser {
    margin-left: 5px;
    font-family: Amaranth;
    font-weight: 400;
    font-size: 2em;
    color: white;
}

.roomuser:hover {
    color: #9fa7b5;
}

.fa:hover {
    color: #5c6675;
}

p {
    font-family: Amaranth;
    font-weight: 400;
    font-size: 1.5em;
    color: #cc1414;
    text-align: center;
}

button {
    background-color: #05398c;
    color: white;
    font-family: Amaranth;
    font-weight: 400;
    border-radius: 0.5em;
    border: none;
}

.heading {
    font-family: Amaranth;
    font-weight: 400;
    font-size: 2.5em;
    color: white;
}

.grade {
    font-family: Amaranth;
    font-weight: 400;
    font-size: 1.5em;
    color: white;
}

.nousers {
    font-family: Amaranth;
    font-weight: 400;
    font-size: 2em;
    color: white;
}

h1 {
    font-size: 3em;
    margin-bottom: 1em;
}

.fa {
    font-size: 2em !important;
}