@import "universal.css";

.roomuser {
    font-family: Amaranth;
    font-weight: 400;
    font-size: 2em;
    color: white;
}

.roomuser:hover {
    color: #9fa7b5;
}

.heading {
    font-family: Amaranth;
    font-weight: 400;
    font-size: 2.5em;
    color: white;
}

.grade {
    font-family: Amaranth;
    font-weight: 400;
    font-size: 1.5em;
    color: white;
}

.nousers, h3 {
    font-family: Amaranth;
    font-weight: 400;
    font-size: 2em;
    color: white;
}

h1 {
    margin: 1em auto;
    font-size: 3em;
}

p {
    font-size: 1em;
    color: #8c1919;
    margin: 1em auto;
}

.fa {
    font-size: 2em !important;
    margin-right: 10px !important;
    color: black; !important;
}

.fa:hover {
    color: #333435;
}

.editbutton {
    color: white !important;
    font-family: Amaranth;
    font-weight: 400;
    border-radius: 0.5em;
    background-color: #153759;
    border: none;
}