@import "universal.css";

p {
    text-align: center;
    font-family: Amaranth;
    color: white;
    font-size: 2vw;
    margin: 1em auto;
}

#error {
    font-family: Amaranth;
    font-weight: 400;
    color: #cc1414;
    font-size: 1.5em;

}

h1 {
    margin-top: 0.7em;
    font-size: 7vw;
}

input {
    display: block;
    margin: 0 auto;
}

.container {
    width: 50%;
}

.btn {
    background-color: white;
    color: #153759;
    font-family: Amaranth;
    font-weight: 400;
    margin: 1em auto;
}

label {
    color: white;
}

div {
    text-align: center;
}

.buttons {
    margin: 1em 1em;
}