@import "universal.css";

.error {
    font-family: Amaranth;
    font-weight: 400;
    color: #cc1414;
    font-size: 1.5em;

}
p {
    font-family: Amaranth;
    font-size: 3em;
    color: white;
    text-align: center;
}
h3 {
    font-family: Amaranth;
    font-size: 2em;
    color: white;
    margin-top: 0.5em !important;
    text-align: center;
}
label {
    font-family: Amaranth;
    font-size: 1.5em;
    color: white;
    display: block;
    margin: 1em auto;
    text-align: center;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
#nupp {
    font-family: Amaranth;
    font-weight: 400;
    margin: 0 auto;
    color: white;
    background-color: #153759;
    border-radius: 0.4vw;
    border: none;
    display: block;
}

#grade {
    width: 10em;
    display: block;
    margin: 0 auto;
}