@import "universal.css";

h3, p{
    font-family: Amaranth;
    font-weight: 400;
    font-size: 2.5vw;
    text-align: center;
    color: white;
}

.smallerText{
    font-size: 2vw;
}

input, btn{
    background-color: white;
    color: #153759;
    font-family: Amaranth;
    font-weight: 400;
    margin: auto;
    display: block;
    text-align: center;
}