@import "universal.css";

h1{
	display: block;
	margin-top: 10vw;
}
input[type="text"] {
    width: 4.3em;
    height: 10vw;
    font-size: 10vw;
    display: block;
    margin:0 auto;
    vertical-align: middle;
    background-color: rgb(204, 204, 255);
}
input[type="submit"]{
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 2vw;
    color: white;
    background-color: #153759;
    border-radius: 0.4vw;
    border: none;
}

p {
    margin-top: 1vw;
    font-family: Amaranth;
    font-weight: 400;
    font-size: 1.7vw;
    text-align: center;
    color: #cc1414;
}

.room {
    font-family: Amaranth;
    font-weight: 400;
    font-size: 1.5vw;
    color: white;
    background-color: #153759;
    border: none;
    padding: 0.4vw 0.7vw;
    border-radius: 0.4vw;
    width: 20vw;
    height: 3vw;
}

.room:hover {
    background-color: #05398c;
    color: white;
    text-decoration: none !important;
}

.buttons {
    text-align: center;
    color: white;
    margin-top: 3vw;
}

.container {
    text-align: center;
    margin-bottom: 1em;
}