@import "universal.css";

h1{
    margin-top: 0.7em;
    font-size: 8em;
}

.container {
    width: 40%;
    text-align: center;
}

.btn {
    margin-top: 1em;
    background-color: white;
    color: #153759;
    font-family: Amaranth;
    font-weight: 400;
}

p {
    font-family: Amaranth;
    font-weight: 400;
    color: #cc1414;
    font-size: 1.5em;
}

#google {
    margin-top: 1em;
}