.navbar {
    background-color: #1b4977;
    border: none;
}

.navbar-default .navbar-nav .button {
    color: white;
    font-family: Shrikhand, cursive;
}

#home {
    color: white;
    font-family: Shrikhand, cursive;
}

body {
    background: url(../images/main.jpg) no-repeat center center fixed;
    background-size: cover;
}

h1 {
    text-align: center;
    margin-top: 14rem;
    font-family: Shrikhand, cursive;
    font-size: 10vw;
    color: white;
}

h4 {
    margin-top: 1.0vw;
    font-size: 2.5vw;
    font-family: Shrikhand, cursive;
    text-align: center;
    color: white;
}

#left {
    margin-right: 2vw;
}

#right {
    margin-left: 2vw;
}

.room {
    font-family: Shrikhand, cursive;
    font-size: 1.5vw;
    margin-top: 2vw;
    background-color: #153759;
    border: none;
    padding: 0.4vw 0.7vw;
    border-radius: 0.4vw;
    width: 20vw;
    height: 3vw;
}

.room:hover {
    background-color: #05398c;
}

.buttons {
    text-align: center;
    color: white;
}