@import "universal.css";

h1 {
    margin-top: 2em;
    margin-bottom: 1em;
}

.container {
    width: 45%;
    text-align: center;
}

.btn {
    background-color: white;
    color: #153759;
    font-family: Amaranth;
    font-weight: 400;
}
