@import "universal.css";

h1 {
    margin-bottom: 1em;
    font-size: 4em;
}

p {
    margin-left: 1em;
    margin: 1.5em auto;
    font-family: Amaranth;
    font-size: 1.5em;
    color: white;
}

.content {
    margin: auto;
    width: 60%;
    height: 80%;
    background-color: #1b4977;
    border: 1px solid white;
    border-radius: 1em;
}

.details {
    font-family: Amaranth;
    font-weight: 400;
    font-size: 2em;
    color: white;
    background-color: #153759;
    border: none;
    text-align: center;
    border-radius: 0.4em;
    width: 5em;
    height: 1.5em;
    display: block;
    padding: 3em auto;
    margin: 1em auto;
    text-decoration: none !important;
}

.details:hover {
    color: #9fa7b5;
}