@import "universal.css";

h1 {
    margin-bottom: 1em;
    font-size: 4em;
}

p, #userstable, #elementstable{
    font-family: Amaranth;
    font-size: 1.5em;
    color: white;
    margin: 0;
}

#elementstab, #userstab {
    font-family: Amaranth;
    font-size: 1.8em;
    color: black;
}

h3 {
    font-family: Amaranth;
    font-size: 2em;
    color: white;
}

table{
    margin: 1em 1em;
}

td, th {
    padding: 0.5em 1em;
}