@import "universal.css";

h1 {
    margin-bottom: 1em;
    font-size: 4em;
}

p {
    margin: 1.5em auto;
    font-family: Amaranth;
    font-size: 1.5em;
    color: white;
}

.content {
    margin: auto;
    width: 60%;
    height: 80%;
    background-color: #1b4977;
    border: 1px solid white;
    border-radius: 1em;
}

table{
    margin: 1em 1em;
}

td, th {
    padding: 0.5em 1em;
}