@import "universal.css";

h1 {
    font-size: 5em;
}

p {
    font-family: Amaranth;
    font-weight: 400;
    font-size: 2em;
    text-align: center;
    color: white;
    margin: 1em 0;
}
@media only screen and (max-width : 480px) and (min-width : 401px){
    h1 {
        font-size: 4em;
    }
    p {
        font-family: Amaranth;
        font-weight: 400;
        font-size: 1.5em;
        text-align: center;
        color: white;
        margin-left: 1em;
        margin-right: 1em;
    }
}
@media only screen and (max-width : 400px) and (min-width : 320px){
    h1 {
        font-size: 3em;
    }
    p {
        font-family: Amaranth;
        font-weight: 400;
        font-size: 1.5em;
        text-align: center;
        color: white;
        margin: 1em 0;
    }
}
@media only screen and (max-width : 880px) and (min-width : 480px){
    p {
        font-family: Amaranth;
        font-weight: 400;
        font-size: 2em;
        text-align: center;
        color: white;
        margin-left: 1em;
        margin-right: 1em;
    }
}