<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="fragments/head"/>
    <title>ByteMe about page</title>
    <link rel="stylesheet" type="text/css" href="css/about.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.4/dist/leaflet.css"
          integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
          crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.3.4/dist/leaflet.js"
            integrity="sha512-nMMmRyTVoLYqjP9hrbed9S+FzjZHW5gY1TWCHA5ckwXZBadntCNs8kEqAWdrb9O7rxbCaA4lKTIWjDXZxflOcA=="
            crossorigin=""></script>
    <script src='https://api.mapbox.com/mapbox-gl-js/v0.47.0/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v0.47.0/mapbox-gl.css' rel='stylesheet'/>
    <script type="text/javascript" src="scripts/about.js"></script>
</head>
<body>
<div th:replace="fragments/header.html :: header"></div>
<h1>About ByteMe</h1>
<br>
<div>
    <p>Currently there are <span th:text="${count}"></span> users registered to ByteMe!</p>
    <p id="tekst">Pancetta prosciutto salami chicken short ribs venison corned beef shoulder pastrami t-bone porchetta
        tongue ham hock. Rump leberkas meatball beef shoulder ham hock. Brisket capicola ball tip doner picanha corned
        beef. Cow filet mignon jowl, turkey doner alcatra ham tenderloin turducken salami kevin. Biltong ball tip
        meatloaf prosciutto pork ham bacon ground round. Tongue shoulder sausage shankle, swine pork belly capicola
        boudin corned beef. Shankle capicola pork chop t-bone corned beef meatloaf, tri-tip beef.</p>
</div>
<div id="contact">
    <p>Juhan Liivi 2, 50409, Tartu, Tartumaa, Estonia</p>
</div>
<div id='mapid'></div>
</body>
</html>