<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="fragments/head"/>
    <title>ByteMe Create</title>
    <link rel="stylesheet" type="text/css" href="css/create.css">
    <script type="text/javascript" src="/scripts/create.js"></script>
</head>
<body>
<div th:replace="fragments/header.html :: header"></div>
<h1>ByteMe Create Room</h1>
<div class="container">
    <p>Choose the number of elements you wish to enter</p>
    <input type="number">
    <!--<p>Choose the type of elements</p>
    <select action="/create/fileupload">
        <option value="Text">Text</option>
        <option value="Pic">Picture</option>
    </select>
    <br>-->
    <div>
        <form method="POST" enctype="multipart/form-data" action="/fileupload">
                <input type="file" name="file" />
                <input type="submit" value="Upload" />
        </form>
    </div>

    <div>
        <ul>
            <li th:each="file : ${files}">
                <a th:href="${file}" th:text="${file}" />
            </li>
        </ul>
    </div>
    <button class="btn btn-primary" id="confirm">Confirm</button>
    <form id="create" th:action="@{/session/create}" method="post">
    </form>
</div>
</body>
</html>