<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="fragments/head.html :: head"/>
    <title>ByteMe Create</title>
    <link rel="stylesheet" type="text/css" href="css/create.css">
    <script src="/scripts/create.js"></script>
</head>
<body>
<div th:replace="fragments/header.html :: header"></div>
<h1>ByteMe Create Room</h1>
<p id="error" th:if="${param.uploaderror}">ByteMe only accepts files in with .png extension</p>
<div class="container">
    <p>Choose the number of elements you wish to enter</p>
    <input id ="elementNumber" type="number">
    <button class="btn btn-primary" id="confirm">Confirm</button>
    <form id="create" th:action="@{/session/create}" method="post" enctype="multipart/form-data">
    </form>
</div>
</body>
</html>