<!DOCTYPE html>
<html th:lang="#{language}" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="fragments/head.html :: head"/>
    <title th:text="#{bytemedisplay}"></title>
    <link rel="stylesheet" type="text/css" href="/css/display.css">
</head>
<body>
<div class="container">
    <h1>Element #<span th:text="${elementNumber}"></span></h1>
    <p class="error" th:if="${param.valueerror}">Please enter a grade between 1 and 10</p>
    <div th:switch="${elementType}" class="element">
       <p th:case="text"><span th:text="${elementContent}"></span></p>
        <img th:case="picture" th:src="@{/room/{instanceID}/getImage/{elementNumber}(instanceID=${roomID},elementNumber=${elementNumber})}" alt="Picture couldn't be loaded">
    </div>
    <h3 th:text="#{grade}"></h3>
    <form th:action="@{/room/{instanceID}/gradeElement/{elementNumber}(instanceID=${roomID},elementNumber=${elementNumber})}"
          method="post">
        <div class="form-group">
            <label for="grade" th:text="#{yourgrade}"></label>
            <input type="number" name="grade" id="grade" class="form-control">
        </div>
        <input name="current" type="hidden" th:value="${elementID}">
        <input id="roomID" type="hidden" th:value="${roomID}">
        <button id="nupp" type="submit" class="btn btn-primary btn-lg" th:text="#{grade2}"></button>
    </form>
</div>
</body>
</html>