<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" th:lang="#{language}">
<head>
    <th:block th:include="fragments/head.html :: head"/>
    <title th:text="#{main}"></title>
    <link rel="stylesheet" type="text/css" href="css/main.css">
</head>
<body>
<div th:replace="fragments/header.html :: header"></div>
<h1 th:text="#{byteme}">Byteme</h1>
<br>
<p th:text="#{moto}"></p>
<div class="buttons">
    <a class="room" th:href="@{/create}" th:text="#{createroombutton}"></a>
    <a class="room" th:href="@{/join}" th:text="#{joinroombutton}"></a>
</div>
</body>
</html>