<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="fragments/head.html :: head"/>
    <title>ByteMe main page</title>
    <link rel="stylesheet" type="text/css" href="css/main.css">
</head>
<body>
<div th:replace="fragments/header.html :: header"></div>
<h1>ByteMe</h1>
<br>
<p>Keeping score has never been so easy</p>
<div class="buttons">
    <a class="room" th:href="@{/create}">Create a new room</a>
    <a class="room" th:href="@{/join}">Join an existing room</a>
</div>
</body>
</html>