<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>ByteMe Join Room</title>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/joinpage.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
<div th:replace="fragments/header.html :: header"></div>
<h1>Please enter a room ID: </h1>
<p th:if="${param.error}">Room with this ID does not exist</p>
<p th:if="${param.inputerror}">Room ID must be a number with 6 digits</p>
<div>
    <form th:action="@{/session/join}" method="post">
        <input type="text" name="id" maxlength="6">
        <input type="submit" name="Join Room">
    </form>
</div>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>