<!DOCTYPE html>
<html th:lang="#{language}" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="fragments/head.html :: head"/>
    <title th:text="#{bytemelogin}"></title>
    <link rel="stylesheet" type="text/css" href="css/login.css">
</head>
<body>
<div th:replace="fragments/header.html :: header"></div>
<h1 th:text="#{bytemelogin}"></h1>
<div class="container">
    <form th:action="@{/auth/login}" method="post">
        <p th:if="${param.error}" th:text="#{invalid}"></p>
        <div class="form-group">
            <label for="displayname" th:text="#{username}"></label>
            <input type="text" name="displayname" id="displayname" class="form-control" th:placeholder="#{username}">
        </div>
        <div>
            <label for="password" th:text="#{password}"></label>
            <input type="password" name="password" id="password" class="form-control" th:placeholder="#{password}">
        </div>
        <div id="google">
        <a id="googlenupp" th:href="@{/oauth2/authorization/google}">Sign in with Google!</a>
        </div>
        <div>
            <input type="submit" value="Sign In" class="btn btn-primary btn-lg" th:value="#{signin}"/>
        </div>
    </form>
</div>
</body>
</html>