<!DOCTYPE html>
<html lang="en">
<head>
    <title>ByteMe main page</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Merienda+One" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
<nav class="navbar navbar-default">

    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#ByteMe"
                aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a href="#" class="navbar-brand" id="home">ByteMe</a>
    </div>
    <div class="collapse navbar-collapse" id="ByteMe">
        <ul class="nav navbar-nav">
            <li><a class="button" href="#">About</a></li>
            <li><a class="button" href="#">Tutorial</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a class="button" href="#">Sign up</a></li>
            <li><a class="button" href="#">Log in</a></li>
        </ul>
    </div>
</nav>
<h1>ByteMe</h1>
<h4>Keeping score has never been so easy</h4>
<div class="buttons">
    <button type="button" class="room" id="left">Create a new room</button>
    <button type="button" class="room" id="right">Join an existing room</button>
</div>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>