<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ByteMe Register</title>
</head>
<body>
<h1>Register to ByteMe</h1>
<form th:action="@{/register}" th:method="post">
    <div>
    <input type="text" title="username" placeholder="Username">
    </div>
    <div>
    <input type="text" title="password" placeholder="Password">
    </div>
    <div>
    <input type="text" title="confirm" placeholder="Confirm password">
    </div>
    <div>
    <input type="email" title="email" placeholder="Email">
    </div>
    <br><br>
    <input type="submit" th:value="Register">
</form>
</body>
</html>