<!DOCTYPE html>
<html th:lang="#{language}" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="fragments/head.html :: head"/>
    <title th:text="#{bsitemap}"></title>
    <link rel="stylesheet" href="css/sitemap.css">
</head>
<body>
<div th:replace="fragments/header.html :: header"></div>
<div class="container">
    <div class="row">
        <div class="col-xs-9 col-xs-offset-1">
            <h1 th:text="#{bsitemap}"></h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <p th:text="#{infopages}"></p>
            <a class="reference" th:href="@{/}" th:text="#{main}"></a>
            <br>
            <a class="reference" th:href="@{/about}" th:text="#{aboutpage}"></a>
            <br>
            <a class="reference" th:href="@{/tutorial}" th:text="#{tutorialpage}"></a>
            <br>
            <a class="reference" th:href="@{/sitemap}" th:text="#{bsitemap}"></a>
            <br>
            <a class="reference" th:href="@{/login}" th:text="#{bytemelogin}"></a>
            <br>
            <a class="reference" th:href="@{/register}" th:text="#{bsignup}"></a>
        </div>
        <div class="col-md-6 col-sm-12">
            <p th:text="#{functionalpages}"></p>
            <a class="reference" th:href="@{/join}" th:text="#{joinroom}"></a>
            <br>
            <a class="reference" th:href="@{/create}" th:text="#{createroom}"></a>
        </div>
    </div>
</div>
</body>
</html>