<!DOCTYPE html>
<html th:lang="#{language}" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="fragments/head.html :: head"/>
    <title th:text="#{overview}"></title>
    <link rel="stylesheet" type="text/css" href="/css/summary.css">
    <script src="/scripts/summary.js"></script>
</head>
<body>
<div th:replace="fragments/header.html :: header"></div>
<input id="roomID" type="hidden" th:value="${instanceID}">
<h1 th:text="#{roomsummary}"></h1>
<div class="content">
    <p><span th:text="#{roomhost}"></span><span th:text="${hostname}"></span></p>
    <p><span th:text="#{elementcount}"></span><span th:text="${elementCount}"></span></p>
    <p><span th:text="#{usercount}"></span><span th:text="${userCount}"></span></p>
    <p><span th:text="#{creationtime}"></span><span th:text="${fromCreation}" id="creation"></span></p>
    <p><span th:text="#{closetime}"></span><span th:text="${toClosure}" id="closure"></span></p>
</div>
<a class="details" th:href="@{/summary/summarydetails/{instanceID}(instanceID=${instanceID})}" th:text="#{summarydetails}"></a></body>
</html>