<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="fragments/head.html :: head"/>
    <title th:text="#{btutorial}"></title>
    <link rel="stylesheet" type="text/css" href="/css/tutorial.css">

</head>
<body>
<div th:replace="fragments/header.html :: header"></div>
<h1 th:text="#{btutorial}"></h1>
<h3 th:text="#{1step}"></h3>
<p th:text="#{step1}"></p>
<h3 th:text="#{2step}"></h3>
<p th:text="#{step2}"></p>
<h3 th:text="#{3step}"></h3>
<p th:text="#{step3}"></p>
<h3 th:text="#{4step}"></h3>
<p th:text="#{step4}"></p>
<h3 th:text="#{5step}"></h3>
<p th:text="#{step5}"></p>
</body>
</html>