<!DOCTYPE html>
<html th:lang="#{language}" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="fragments/head.html :: head"/>
    <title th:text="#{waitingroom}"></title>
    <script src="/scripts/waitingroom.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/waitingroom.css">
</head>
<body>
<div th:replace="fragments/header.html :: header"></div>
<h1 th:text="#{waitforgame}"></h1>
<input id="roomID" type="hidden" th:value="${instanceID}">
</body>
</html>